.contact {
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}

.contactInfo {
  padding: 0.5em;
  p {
      display: block;
      letter-spacing: 0.1em;
      text-align: center;
  }
}

.links img {
  padding: 0.5em;
}

.footer {
  align-items: flex-end;
  width: 100vw;
  position: absolute;
  bottom: 0;
  .content{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2em;
    @media (max-width: 1025px) {
      padding-bottom: 0;
    }
    @media (max-width: 768px) {
      p {
        margin: 0 0 1em 0 !important;
        font-size: 0.6em;
      }
    }
  }
}
