.contact {
  font-family: 'Play', sans-serif;
  min-height: 75vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}

.contactInfo {
  padding: 0.5em;
}

.links {
  display: flex;
  flex-direction: column;
  width: 130px;
  margin: 15px auto 0;

  p {
    margin: 5px 0;
  }
}

.footer {
  align-items: flex-end;
  width: 100vw;
  position: absolute;
  bottom: 0;
  .content{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2em;
    @media (max-width: 1025px) {
      padding-bottom: 0;
    }
    @media (max-width: 768px) {
      p {
        margin: 0 0 1em 0 !important;
        font-size: 0.6em;
      }
    }
  }
}

.columns.is-desktop {
  margin: auto;
  max-width: 1152px;
}

.about {
  .title {
    padding-top: 2rem;
  }
}
