.img-container {
    height: 32rem;
    background-color: #777;
}

.img-container>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.navbar-item {
    font-family: 'Play', sans-serif;
}

.hero-body {
    .title {
        font-family: $headerFont;
    }
    .subtitle {
        font-family: 'Play', sans-serif;
    }
    .is-parent {
        align-items: center;
    }
}

.carousel img {
    margin-right: 10px
}

.is-fixed-top {
    background-color: #00d1b2 !important;
    animation: fadein 1s;
}

.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}