.bioSection {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.imgHolderJack {
  @extend .imgHolder;
  background: url('img/jack.jpg')no-repeat center center;
  width: 250px;
  height: 250px;
}

.bio {
  background-color: $white-ish;
  box-shadow: 5px 5px 5px $dark_trans;
  border: 3px solid $dark;
  margin: 3em;
  padding: 0.5em;
  font-family: $subHeadFont;
  text-shadow: 0.5px 0.5px 0.5px $dark;
  width: 60%;
  @media screen and (max-width: 768px) {
    width: 75%;
  }
  p {
    font-size: 1.25em;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0.5em;
    text-align: justify;
  }
}
