<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Hannah Hall | Software Developer</title>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body ng-app="app" ng-controller="ProjectsCtrl as vm">
    <div class="hero is-primary is-medium is-bold">
        <div class="hero-body">
            <div class="container tile is-parent">
                <div class="tile is-child has-text-centered-mobile">
                    <h1 class="title is-size-2-mobile">
                        Hannah Hall
                    </h1>
                    <h2 class="subtitle is-size-3-mobile">
                        Web Developer
                    </h2>
                </div>

                <div class="carousel tile is-child is-8 is-hidden-mobile" data-flickity='{ "autoPlay": true, "imagesLoaded": true, "percentPosition": false}'>
                    <img src="img/cordially-gif.gif" alt="">
                    <img src="img/romair-gif.gif" alt="">
                    <img src="img/site_gif.gif" alt="">
                    <img src="img/checkers.gif" alt="" style="max-height:240px;">
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="navbar tabs">
              <div class="container">
                <div class="navbar-end">
                    <div class="navbar-brand">
                        <a class="navbar-item has-text-weight-semibold" href="#projects">
                            Projects
                        </a>
                        <a class="navbar-item has-text-weight-semibold" href="#about">
                            About
                        </a>
                        <a class="navbar-item has-text-weight-semibold" href="#contact">
                            Contact
                        </a>
                    </div>
                </div>
              </div>
            </nav>
        </div>
    </div>

    <div class="container">
        <div id="projects" class="projects">
            <h1 class="title is-size-2-touch">Featured Projects</h1>
            <div class="columns is-multiline">
                <div class="column is-one-third-desktop is-half-tablet" ng-repeat="project in vm.projects">
                    <div class="card is-paddingless">
                        <div class="card-image">
                            <figure class="image">
                                <img ng-src="{{project.img}}" alt="Checkers">
                            </figure>
                        </div>
                        <header class="card-header">
                            <h3 class="card-header-title is-centered title is-size-3-touch">
                                {{project.name}}
                            </h3>
                        </header>
                        <div class="card-content">
                            <div class="content is-size-5-touch has-text-grey-dark">
                                {{project.description}}
                            </div>
                        </div>
                        <footer class="card-footer" ng-if="project.url">
                            <a href="{{project.url}}" class="card-footer-item has-text-success has-text-weight-semibold is-size-4-touch">View More</a>
                        </footer>
                    </div>
                </div>
                <!-- end repeat -->
            </div>
        </div>
        <!-- end projects -->
        <hr>
        <div class="techHolder">
            <div class="tech tooltip" ng-repeat="tech in vm.techs" data-tooltip="{{tech.name}}">
                <img class="techimg" alt="{{tech.name}}" ng-src="{{tech.img}}">
            </div>
        </div>
        <!-- end controller -->

        
        <div class="about section" id="about">
            <hr>
            <h1 class="title is-size-2-touch">About</h1>
            <div class="columns is-desktop container">
                <div class="img-holder column">
                    <img class="img-fluid" src="img/jack.jpg">
                </div>
                <div class="column is-two-thirds">
                    <p class="is-size-5-touch has-text-grey-dark">
                        I moved to Nashville in 2009 to attend Belmont and study Music Business. After graduating in 2013, I realized that the music
                        industry wasn't as fulfilling as I had hoped. In my spare time I began using Codecademy to learn
                        the basics of web development. I realized that my passion was really in development. I knew I needed
                        some education beyond what Codecademy could provide so I joined Nashville Software School in April
                        2016.
                    </p>
                    <p class="is-size-5-touch has-text-grey-dark">
                        Since graduating from NSS I have had many great opportunities including, teaching at NSS.
                        I helped teach Python, Ruby, and C# while I was there. After teaching, I took a position at a marketing agency working with Craft CMS, Vue, and Laravel.
                        I'm currently working with Python, Flask, Angular and AngularJS.
                    </p>
                    <p class="is-size-5-touch has-text-grey-dark">
                        My dog, however, is still not happy with my chosen career path. Or really any career that involves leaving the house without
                        him.
                    </p>
                </div>
            </div>
        </div>
        <!-- end about -->

        <hr>

        <div id="contact" class="contact section">
            <h1 class="title is-size-2-touch">Contact</h1>
            <div class="contactInfo is-size-5-touch has-text-grey-dark">
                <p>If you'd like to talk about code, dogs, or music find me here:</p>
                <div class="links">
                    <p>
                        <a href="mailto:hannahkhall13+ws@gmail.com" target="_top" class="has-text-grey-dark">
                            <span class="icon is-medium">
                                <img src="img/email.png" alt="email" />
                            </span>
                            Email
                        </a>
                    </p>
                    <p>
                        <a href="https://github.com/hannahhall" class="has-text-grey-dark" target="_blank">
                            <span class="icon is-medium">
                                <img src="img/github.png" alt="GitHub" />
                            </span>
                            GitHub
                        </a>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/hannahkhall" class="has-text-grey-dark" target="_blank">
                            <span class="icon is-medium">
                                <img src="img/Ln.png" alt="" />
                            </span>
                            LinkedIn
                        </a>
                    </p>
                </div>
            </div>
            <footer class="footer is-paddingless">
                <div class="content is-size-4-touch">
                    <p class="has-text-grey-dark">&copy; {{vm.year}} Hannah Hall</p>
                    <p class="right">
                        <a href="#" class="has-text-grey-dark">Back to top</a>
                    </p>
                </div>
            </footer>


        </div>
        <!-- end contact -->
    </div>
    <!-- end container -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="javascript/app.js"></script>
</body>

</html>