<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hannah Hall | Software Developer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body data-spy="scroll" data-target="#navbar">
	<nav id="navbar" class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<button
			class="navbar-toggler navbar-toggler-right"
			type="button"
			data-toggle="collapse"
			data-target="#navbarCollapse"
			aria-controls="navbarCollapse"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand brand" href="#">Hannah Hall</a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#projects">Projects
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="splash">
    <img class="img-fluid" src="img/IMG_2646.JPG">
  </div>

	<div ng-app="app" class="container">
		<section ng-controller="ProjectsCtrl as vm">
			<div id="projects" class="projects">
				<h1>Featured Projects</h1>
				<div class="card-deck">
					<div class="card" ng-repeat="project in vm.projects">
						<div class="img-holder">
							<img class="card-img-top" ng-src="{{project.img}}" height="175">
						</div>
						<div class="card-block">
							<h2 class="card-title">{{project.name}}</h2>
							<p class="card-text text-muted">{{project.description}}</p>
						</div>
						<div class="card-footer"><a class="btn btn-secondary bottom" href="{{project.url}}" role="button">View More &raquo;</a></div>
					</div> <!-- end repeat -->
				</div>
			</div> <!-- end projects -->
			<hr>
			<div class="techHolder">
				<div class="tech" ng-repeat="tech in vm.techs" uib-popover="{{tech.name}}" popover-trigger="'mouseenter'">
					<img class="techimg" ng-src="{{tech.img}}">
				</div>
			</div>
		</section> <!-- end controller -->

		<hr>

		<section class="about" id="about">
			<div class="row featurette">
				<div class="col-md-5 img-holder">
					<img class="featurette-image img-fluid mx-auto" src="img/jack.jpg">
				</div>
	      <div class="col-md-7">
	        <h2 class="featurette-heading">About</h2>
	        <p class="text-muted lead">
						I moved to Nashville in 2009 to attend Belmont and study Music Business. After graduating in 2013, I realized that the music industry wasn't as fulfilling as I had hoped. In my spare time I began using Codecademy to learn the basics of web development. I realized that my passion was really in development. I knew I needed some education beyond what Codecademy could provide so I joined Nashville Software School in April 2016. It has been an amazing learning experience. The learning will never end as I continue on my journey as a web developer. I'm currently a teaching assistant at Nashville Software School.
					</p>
					<p class="text-muted lead">
						My dog, however, is still not happy with my choosen career path. Or really any career that involves leaving the house without him.
					</p>
	      </div>
	    </div>
		</section> <!-- end about -->

		<hr>

		<section id="contact" class="contact col-xs-6 col-offset-xs-6">
			<h1>Contact</h1>
			<div class="contactInfo">
				<p>If you'd like to talk about code, dogs, or music find me here:</p>
				<div class="links">
					<p>
						<a href="mailto:hannahkhall13+ws@gmail.com" target="_top">
							<img src="img/email.png" alt="email" />
							Email
						</a>
					</p>
					<p>
						<a href="https://github.com/hannahhall">
							<img src="img/github.png" alt="GitHub" />
							GitHub
						</a>
					</p>
					<p>
						<a href="https://www.linkedin.com/in/hannah-hall-125887125">
							<img src="img/Ln.png" alt=""/>
							LinkedIn
						</a>
					</p>
				</div>
			</div>
			<footer class="footer">
				<p>&copy; 2017 Hannah Hall &middot; </p>
				<p class="right"><a href="#">Back to top</a></p>
			</footer>
		</section> 	<!-- end contact -->
	</div> 	<!-- end container -->

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script type="text/javascript" src="javascript/app.js"></script>
</body>
</html>
