<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="header">
		<div class="imgHolder">
		</div>
		<h1>Hannah Hall</h1>
		<div class="navBar">
			<a href="#projects">Projects</a>
			<a href="#about">About</a>
			<a href="#contact">Contact</a>
		</div>
	</section>
	<div ng-app="app">
		<section ng-controller="ProjectsCtrl as vm">
			<div id="projects" class="projects">
				<h1>Featured Projects</h1>
				<div ng-repeat="project in vm.projects" class="{{project.class}}">
					<a href="{{project.url}}" target="_blank"><h2>{{project.name}}<img src="img/glyphicons-51-link.png"></h2></a>
					<img class="screenshot" ng-src="{{project.img}}">
					<p>{{project.description}}</p>
				</div>
			</div>
			<div class="techHolder">
				<div class="tech" ng-repeat="tech in vm.techs">
					<img class="techimg" ng-src="{{tech.img}}">
					<p>{{tech.name}}
				</div>
			</div>
		</section>
	</div>

	<section class="about" id="about">
		<h1>About</h1>
		<div class="bio">
			<p>
				I moved to Nashville in 2009 to attend Belmont and study Music Business. After graduating in 2013, I realized that the music industry wasn't as fulfilling as I had hoped. In my spare time I began using Codecademy to learn the basics of web development. I realized that my passion was really in development. I knew I needed some education beyond what Codecademy could provide so I joined Nashville Software School in April 2016. It has been an amazing learning experience. The learning will never end as I continue on my journey as a web developer.
			</p>
	</section>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="javascript/app.js"></script>
	<script type="text/javascript" src="javascript/portfolio.js"></script>
</body>
</html>
