@import 'https://fonts.googleapis.com/css?family=Lobster|Poiret+One';
body {
  background: linear-gradient(rgba(244, 236, 214, 0.7), rgba(244, 236, 214, 0.7)), url("img/IMG_5879.JPG") no-repeat center center fixed;
  background-size: cover; }
  @media screen and (max-device-width: 376px) {
    body {
      background: linear-gradient(rgba(244, 236, 214, 0.7), rgba(244, 236, 214, 0.7)), url("img/small_screen.jpeg") no-repeat center center fixed; } }

a {
  text-decoration: none;
  color: #310a31; }

a:hover {
  text-decoration: none;
  color: #FFF; }

hr {
  display: block;
  border-width: 1px;
  border-color: #310a31;
  width: 80%;
  margin-top: 4em; }

.header {
  background: linear-gradient(transparent 40%, #88b7b5), url("img/IMG_5879.JPG") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: #310a31;
  font-family: "Lobster", cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 2em #537574; }
  @media screen and (max-device-width: 376px) {
    .header {
      background: linear-gradient(transparent 40%, #88b7b5), url("img/small_screen.jpeg") no-repeat center center fixed;
      justify-content: center; } }
  .header h1 {
    margin-top: 0;
    text-align: center;
    font-size: 3em; }

.imgHolder, .imgHolderJack {
  background: white url("img/propic.jpg") no-repeat center center;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 10px solid #310a31;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em; }

.navBar {
  width: 100%;
  font-family: "Poiret One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  margin-top: 5em; }
  @media screen and (max-device-width: 376px) {
    .navBar {
      margin-top: auto; } }
  .navBar a {
    font-size: 2em;
    text-shadow: 1px 0 #310a31;
    letter-spacing: 0.5em; }

.stick {
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #88b7b5;
  box-shadow: 0 0 2em #537574; }

.projects,
.about,
.contact {
  padding-top: 4em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #310a31; }
  @media screen and (max-device-width: 376px) {
    .projects,
    .about,
    .contact {
      flex-direction: column;
      align-items: center; } }
  .projects h1,
  .about h1,
  .contact h1 {
    align-self: center;
    text-align: center;
    width: 100%;
    font-family: "Lobster", cursive;
    text-shadow: 3px 3px rgba(49, 10, 49, 0.3); }
  .projects .project1,
  .projects .project2,
  .about .project1,
  .about .project2,
  .contact .project1,
  .contact .project2 {
    background-color: #F4ECD6;
    box-shadow: 5px 5px 5px rgba(49, 10, 49, 0.3);
    border: 3px solid #310a31;
    margin: 4em 0;
    padding: 0.5em;
    font-family: "Poiret One", sans-serif;
    text-shadow: 0.5px 0.5px 0.5px #310a31;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    max-width: 350px;
    letter-spacing: 0.5em; }
    .projects .project1 h2,
    .projects .project2 h2,
    .about .project1 h2,
    .about .project2 h2,
    .contact .project1 h2,
    .contact .project2 h2 {
      margin: 0.5em 0;
      text-align: center; }
    .projects .project1 p,
    .projects .project2 p,
    .about .project1 p,
    .about .project2 p,
    .contact .project1 p,
    .contact .project2 p {
      font-size: 1.25em;
      letter-spacing: 0.1em;
      text-align: justify; }
    .projects .project1 .ss,
    .projects .project2 .ss,
    .about .project1 .ss,
    .about .project2 .ss,
    .contact .project1 .ss,
    .contact .project2 .ss {
      margin: 1em 0;
      border: 1px solid #310a31; }

.techHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
  flex-wrap: wrap; }

.tech {
  box-shadow: 5px 5px 5px rgba(49, 10, 49, 0.3);
  border: 3px solid #310a31;
  background: #F4ECD6;
  height: 75px;
  width: 75px;
  margin: 1em 3em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .tech p {
    display: none; }

.popover {
  background-color: #310a31;
  color: #F4ECD6; }

.popover.top > .arrow:after {
  border-top-color: #310a31; }

.bioSection {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-device-width: 768px) {
    .bioSection {
      flex-direction: column-reverse; } }

.imgHolderJack {
  background: url("img/jack.jpg") no-repeat center center;
  width: 250px;
  height: 250px; }

.bio {
  background-color: #F4ECD6;
  box-shadow: 5px 5px 5px rgba(49, 10, 49, 0.3);
  border: 3px solid #310a31;
  margin: 3em;
  padding: 0.5em;
  font-family: "Poiret One", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #310a31;
  width: 60%; }
  @media screen and (max-device-width: 768px) {
    .bio {
      width: 75%; } }
  .bio p {
    font-size: 1.25em;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0.5em;
    text-align: justify; }

.contact {
  padding-bottom: 10em; }

.contactInfo {
  margin: 3em;
  padding: 0.5em;
  font-family: "Poiret One", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #310a31; }
  .contactInfo p {
    display: block;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    text-align: justify;
    font-family: "Poiret One", sans-serif; }

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .links img {
    padding: 0.5em; }
