@import 'https://fonts.googleapis.com/css?family=Lobster|Poiret+One';

$dark: #310a31;
$dark_trans: rgba(49,10,49,0.3);
$lightpurple: #847996;
$lightblue: #88b7b5;
$lightgreen: #a7cab1;
$trans_white: rgba(244,236,214,0.7);
$white-ish: #F4ECD6;
$headerFont: 'Lobster', cursive;
$subHeadFont: 'Poiret One', sans-serif;

body {
  color: $trans_white;
  position: relative;
}

a {
  text-decoration: none;
  color: $dark;
}

a:hover {
  text-decoration: none;
  // color: #FFF;
}

hr {
  display: block;
  border-width: 1px;
  border-color: $dark;
  width: 80%;
  margin: 2rem auto;
}

.img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.brand {
  font-family: $headerFont;
}

.splash {
  padding-top: 3.5em;
  margin: 0;
}

@import "header";
@import "projects";
@import "contact";
