@import 'https://fonts.googleapis.com/css?family=Lobster|Poiret+One';

$dark: #2b1e1c;
$grey: #5a5a4e;
$blue: #e7eceb;
$orange: #b0532f;
$purple: #413f5d;
$headerFont: 'Lobster', cursive;

body {
  color: #FFFAFA;
  position: relative;
}



a:hover {
  text-decoration: none;
  // color: #FFF;
}

hr {
  display: block;
  border-width: 1px;
  border-color: $orange;
  width: 80%;
  margin: 2rem auto;
}

.img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}



.splash {
  padding-top: 3.5em;
  margin: 0;
  background-color: $dark; 
}

@import "header";
@import "projects";
@import "contact";
