<article id="about" class="about-container">
    <section class="block card">
        <div class="block-overview">
            <h2 class="block-heading title is-1">{{statBlock.name}}</h2>
            <p class="block-subtitle subtitle is-6">{{statBlock.shortDescription}}</p>
        </div>
        <div class="block-stats">
            <span><b>Armor Class</b> {{statBlock.armorClass}}</span>
            <span><b>Max Hit Points</b> {{statBlock.maxHitPoints}}</span>
            <span><b>Speed</b> {{statBlock.speed}} words per minute</span>
        </div>
        <div class="block-scores">
            <div class="block-score" *ngFor="let score of statBlock.scores">
                <span class="block-score-title">{{score.name}}</span>
                <span>{{score.rating}}</span>
            </div>
        </div>
        <div class="block-abilities">
            <p class="block-ability" *ngIf="statBlock.skills">
                <b class="block-ability-title">Skills</b> {{statBlock.skills}}
            </p>
            <p class="block-ability" *ngIf="statBlock.senses">
                <b class="block-ability-title">Senses</b> {{statBlock.senses}}
            </p>
            <p class="block-ability" *ngIf="statBlock.languages">
                <b class="block-ability-title">Languages</b> {{statBlock.languages}}
            </p>
        </div>
        <div class="block-actions-grid">
            <div class="block-actions content" *ngIf="statBlock.actions">
                <h3 class="title is-5">Actions</h3>
                <p class="block-action" *ngFor="let action of statBlock.actions">
                    <b class="block-action-name">{{action.name}}</b>:
                    <span class="block-action-description">{{action.description}}</span>
                </p>
            </div>
        </div>
        <div class="block-description">
            <p *ngFor="let p of paragraphs" class="block-description-text">{{p.text}}</p>
        </div>
    </section>
</article>
