<div class="hero is-primary is-medium is-bold" #hero>
  <div class="hero-body">
    <div class="container tile is-parent">
      <div class="tile is-child has-text-centered-mobile">
        <h1 class="title is-size-2-mobile">
          Hannah Hall
        </h1>
        <h2 class="subtitle is-size-3-mobile">
          Web Developer
        </h2>
      </div>
      <div class="carousel tile is-child is-8 is-hidden-mobile"></div>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="navbar tabs" #navbar>
      <div class="container">
        <div class="navbar-end">
          <div class="navbar-brand">
            <a class="navbar-item has-text-weight-semibold" href="#projects">
              Projects
            </a>
            <a class="navbar-item has-text-weight-semibold" href="#about">
              About
            </a>
            <a class="navbar-item has-text-weight-semibold" href="#contact">
              Contact
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
