.contact {
    font-family: 'Play', sans-serif;
    min-height: 75vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5em 0;
    @media (max-width: 768px) {
      justify-content: flex-start;
    }
  }
  
  .contactInfo {
    padding: 0.5em;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    width: 130px;
    margin: 15px auto 0;
  
    p {
      margin: 5px 0;
    }
  }
