<div id="contact" class="contact section">
  <h1 class="title is-size-2-touch">Contact</h1>
  <div class="contactInfo is-size-5-touch has-text-grey-dark">
    <p>If you'd like to talk about code, dogs, baking, or DnD find me here:</p>
    <div class="links">
      <p *ngFor="let contact of contacts">
        <a href="{{contact.link.url}}" target="_blank" rel="noopener noreferrer" class="has-text-grey-dark"
          target="_blank">
          <span class="icon is-medium">
            <i [ngClass]="['fab', contact.icon_class]"></i>
          </span>
          {{contact.link.text}}
        </a>
      </p>
    </div>
  </div>
</div>
