<div id="contact" class="contact section">
  <h1 class="title is-size-2-touch">Contact</h1>
  <div class="contactInfo is-size-5-touch has-text-grey-dark">
    <p>If you'd like to talk about code, dogs, or music find me here:</p>
    <div class="links">
      <p>
        <a href="mailto:hannahkhall13+ws@gmail.com" target="_top" class="has-text-grey-dark">
          <span class="icon is-medium">
            <i class="fas fa-envelope"></i>
          </span>
          Email
        </a>
      </p>
      <p>
        <a href="https://github.com/hannahhall" target="_blank" rel="noopener noreferrer" class="has-text-grey-dark"
          target="_blank">
          <span class="icon is-medium">
            <i class="fab fa-github"></i>
          </span>
          GitHub
        </a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/hannahkhall" target="_blank" rel="noopener noreferrer"
          class="has-text-grey-dark" target="_blank">
          <span class="icon is-medium">
            <i class="fab fa-linkedin"></i>
          </span>
          LinkedIn
        </a>
      </p>
    </div>
  </div>
</div>
